
  <script src="https://use.fontawesome.com/53cdfa1721.js"></script>
</body>

<footer>
  
  <div class="footer-pos">
    <div class="footer-project"><a style="color:inherit; font-weight: 900; letter-spacing: 1px;" href="https://github.com/mocamboo/ToDoList.git">Project<i class="fa fa-github"></i>. </a></div>
    
    
    <div class="footer-div1">
      <span class="footer-head">Created By-</span><br>
      <span class="footer-name">Shubham Jangid</span>  
      </div>
      <div class="footer-social">
        <a href="https://www.linkedin.com/in/mocamboo/"  target="blank" > <i class="fa fa-linkedin-square" aria-hidden="true"> </i></a>
        <a href="https://github.com/mocamboo" target="blank" ><i class="fa fa-github" aria-hidden="true"> </i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
      </div>
  </div>
  
  

</footer>

</html>
